@page
@model SlownikObcy2.Pages.TlumaJaponski.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8" />
    @section Styles {
        <link href="@Url.Content("~/css/Jap.css")" rel="stylesheet" />
    }
</head>

<div id="tresc" style="width: 50%; margin-left: 25%;">
    <h1>Edit</h1>
    <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Japonski.ID" />
                <div class="form-group">
                    <label asp-for="Japonski.Romaji" class="control-label"></label>
                    <input asp-for="Japonski.Romaji" class="form-control" />
                    <span asp-validation-for="Japonski.Romaji" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Japonski.Polski" class="control-label"></label>
                    <input asp-for="Japonski.Polski" class="form-control" />
                    <span asp-validation-for="Japonski.Polski" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Japonski.Kana" class="control-label"></label>
                    <input asp-for="Japonski.Kana" class="form-control" />
                    <span asp-validation-for="Japonski.Kana" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Japonski.Kanji" class="control-label"></label>
                    <input asp-for="Japonski.Kanji" class="form-control" />
                    <span asp-validation-for="Japonski.Kanji" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="submit" value="Zapisz" class="btn btn-outline-success" />
                        <a asp-page="./Index" class="btn btn-outline-danger">Powrót do słownika</a>
                    </div>
                </div>
            </form>
        </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
